body {
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

a:focus, a:hover {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.image-bg-fluid-height {
    display: block;
    text-align: center;
}

.img-center {
    margin: 0 auto;
}

.about-subtitle {
    font-weight: bold;
}

.about-social {
    margin: 50px 0 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: right;
}

.about-social ul li {
    display: inline-block;
    margin-right: 8px;
}

.btn-floating {
    display: inline-block;
    color: #FFF;
    position: relative;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #337ab7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    bottom: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-floating:hover {
    background-color: #23527c;
    opacity: .95;
    filter: alpha(opacity=95);
    bottom: 5px;
    -o-transition: all .3s ease-in-out;
}

.about-social ul li a i {
    font-size: 14px;
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.6rem;
    line-height: 37px;
}

.well h4 {
    font-weight: bold;
}

footer {
    margin: 10px 0;
    text-align: right;
}

@media (max-width: 768px) {
    .about-social {
        margin: 0;
        text-align: left;
    }
}

.logo {
    width: 50%;
}